In [7]:
import numpy as np
import pandas as pd

In [8]:
df1=pd.read_csv("Accident_Cities.csv")

In [67]:
df2=pd.read_csv("Accident_States.csv")

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 30 columns):
Name of City                              51 non-null object
Total number of Fatal Accidents - 2011    38 non-null float64
All Accidents - 2011                      39 non-null float64
Persons Killed - 2011                     39 non-null float64
Persons Injured - 2011                    39 non-null float64
Total number of Fatal Accidents - 2012    50 non-null float64
All Accidents - 2012                      50 non-null float64
Persons Killed - 2012                     50 non-null float64
Persons Injured - 2012                    50 non-null float64
Fatal Accidents - 2013                    50 non-null float64
Total Accidents - 2013                    50 non-null float64
Killed - 2013                             50 non-null float64
Injured - 2013                            50 non-null float64
Severity - 2013                           50 non-null float64
Fatal Accidents - 2014                    50 non-null float64
Greviously Injured Accidents - 2014       50 non-null float64
Minor Accidents - 2014                    50 non-null float64
Non-Injurey Accidents - 2014              50 non-null float64
Total Accidents - 2014                    50 non-null float64
Killed - 2014                             50 non-null float64
Injured - 2014                            50 non-null float64
Severity - 2014                           50 non-null float64
Fatal Accidents - 2015                    50 non-null float64
Greviously Injured Accidents - 2015       50 non-null float64
Minor Accidents - 2015                    50 non-null float64
Non-Injurey Accidents - 2015              50 non-null float64
Total Accidents - 2015                    50 non-null float64
Killed - 2015                             50 non-null float64
Injured - 2015                            50 non-null float64
Severity - 2015                           50 non-null float64
dtypes: float64(29), object(1)
memory usage: 12.0+ KB

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 23 columns):
Unnamed: 0                            37 non-null object
Unnamed: 1                            36 non-null object
Unnamed: 2                            36 non-null object
Unnamed: 3                            36 non-null object
Unnamed: 4                            36 non-null object
KIlled due to Over Speed              36 non-null float64
Unnamed: 6                            36 non-null float64
Unnamed: 7                            36 non-null float64
Unnamed: 8                            35 non-null float64
Unnamed: 9                            34 non-null float64
Unnamed: 10                           35 non-null float64
Unnamed: 11                           36 non-null float64
Unnamed: 12                           37 non-null float64
Unnamed: 13                           37 non-null int64
Accidents due to Alcohal and drugs    36 non-null float64
Unnamed: 15                           36 non-null float64
Unnamed: 16                           36 non-null float64
Unnamed: 17                           35 non-null float64
Unnamed: 18                           35 non-null float64
Unnamed: 19                           36 non-null float64
Unnamed: 20                           37 non-null int64
Unnamed: 21                           37 non-null int64
Unnamed: 22                           37 non-null int64
dtypes: float64(14), int64(4), object(5)
memory usage: 6.7+ KB

In [12]:
df1=df1.applymap(lambda x: x.strip() if isinstance(x,str) else x)

In [13]:
d2f=df2.applymap(lambda x: x.strip() if isinstance(x,str) else x)

In [14]:
df1.fillna(0)

,Name of City,Total number of Fatal Accidents - 2011,All Accidents - 2011,Persons Killed - 2011,Persons Injured - 2011,Total number of Fatal Accidents - 2012,All Accidents - 2012,Persons Killed - 2012,Persons Injured - 2012,Fatal Accidents - 2013,...,Injured - 2014,Severity - 2014,Fatal Accidents - 2015,Greviously Injured Accidents - 2015,Minor Accidents - 2015,Non-Injurey Accidents - 2015,Total Accidents - 2015,Killed - 2015,Injured - 2015,Severity - 2015
0,Agra,336.0,1299.0,632.0,1046.0,381.0,922.0,427.0,675.0,436.0,...,747.0,50.6,498.0,369.0,260.0,16.0,1143.0,474.0,650.0,41.5
1,Ahmedabad,222.0,2020.0,227.0,2036.0,245.0,1850.0,251.0,1845.0,227.0,...,1597.0,16.0,318.0,351.0,1168.0,0.0,1837.0,328.0,1722.0,17.9
2,Asansol-Durgapur,229.0,368.0,230.0,185.0,199.0,380.0,224.0,315.0,200.0,...,284.0,47.4,210.0,160.0,60.0,16.0,446.0,210.0,220.0,47.1
3,Aurangabad,161.0,719.0,173.0,744.0,178.0,715.0,192.0,649.0,150.0,...,578.0,30.4,153.0,297.0,147.0,57.0,654.0,170.0,670.0,26.0
4,Bengaluru,689.0,6031.0,720.0,4952.0,707.0,5508.0,725.0,4527.0,733.0,...,4098.0,14.6,708.0,1331.0,1899.0,896.0,4834.0,713.0,4057.0,14.7
5,Bhopal,275.0,3459.0,299.0,2970.0,278.0,3623.0,301.0,3076.0,242.0,...,2601.0,6.8,222.0,207.0,2351.0,841.0,3621.0,235.0,2779.0,6.5
6,Coimbatore,253.0,1126.0,259.0,1058.0,263.0,1128.0,270.0,1004.0,245.0,...,1465.0,17.7,238.0,483.0,664.0,128.0,1513.0,245.0,1393.0,16.2
7,Delhi,2007.0,7281.0,2065.0,7226.0,1822.0,6937.0,1866.0,6633.0,1778.0,...,8283.0,19.4,1582.0,372.0,5971.0,160.0,8085.0,1622.0,8258.0,20.1
8,Dhanbad,74.0,138.0,82.0,106.0,49.0,144.0,54.0,191.0,223.0,...,77.0,59.4,42.0,48.0,19.0,5.0,114.0,48.0,137.0,42.1
9,Faridabad,229.0,803.0,249.0,595.0,227.0,711.0,247.0,537.0,205.0,...,466.0,36.0,199.0,92.0,374.0,4.0,669.0,206.0,539.0,30.8
10,Ghaziabad,495.0,1109.0,535.0,817.0,358.0,850.0,378.0,710.0,363.0,...,647.0,43.1,316.0,430.0,70.0,10.0,826.0,331.0,668.0,40.1
11,Gwalior,233.0,2030.0,248.0,1626.0,213.0,1974.0,232.0,1434.0,232.0,...,1630.0,11.2,249.0,118.0,1498.0,275.0,2140.0,265.0,1703.0,12.4
12,Hyderabad,428.0,2651.0,441.0,2528.0,433.0,2577.0,464.0,2471.0,482.0,...,2561.0,14.1,425.0,484.0,1635.0,217.0,2761.0,425.0,2382.0,15.4
13,Indore,407.0,4995.0,425.0,4053.0,419.0,5433.0,447.0,4419.0,388.0,...,4848.0,7.6,421.0,322.0,4057.0,1073.0,5873.0,444.0,4685.0,7.6
14,Jaipur,387.0,2002.0,406.0,1915.0,374.0,1792.0,391.0,1636.0,379.0,...,1693.0,22.5,452.0,758.0,428.0,256.0,1894.0,476.0,1661.0,25.1
15,Jabalpur,239.0,2906.0,260.0,2990.0,251.0,2919.0,275.0,2545.0,301.0,...,3074.0,10.1,345.0,370.0,2287.0,372.0,3374.0,365.0,3216.0,10.8
16,Jamshedpur,189.0,447.0,207.0,292.0,173.0,424.0,189.0,334.0,147.0,...,163.0,38.7,151.0,133.0,38.0,25.0,347.0,157.0,329.0,45.2
17,Jodhpur,236.0,526.0,264.0,525.0,313.0,533.0,313.0,436.0,261.0,...,505.0,46.5,257.0,70.0,308.0,43.0,678.0,297.0,700.0,43.8
18,Kochi,171.0,1986.0,182.0,2008.0,136.0,2280.0,144.0,2431.0,147.0,...,2264.0,6.0,159.0,1555.0,560.0,287.0,2561.0,168.0,2721.0,6.6
19,Kolkata,396.0,3133.0,418.0,2420.0,471.0,3937.0,498.0,3216.0,420.0,...,3604.0,9.9,412.0,1357.0,1404.0,1174.0,4347.0,422.0,3329.0,9.7
20,Kollam,209.0,1668.0,222.0,1811.0,197.0,1763.0,213.0,1909.0,247.0,...,1768.0,12.7,191.0,1233.0,101.0,36.0,1561.0,204.0,1601.0,13.1
21,Kota,102.0,616.0,113.0,688.0,108.0,601.0,112.0,709.0,98.0,...,771.0,16.3,105.0,180.0,391.0,69.0,745.0,108.0,713.0,14.5
22,Kannur,52.0,557.0,55.0,833.0,74.0,618.0,78.0,814.0,55.0,...,909.0,13.5,65.0,262.0,259.0,38.0,624.0,67.0,796.0,10.7
23,Lucknow,493.0,1270.0,517.0,741.0,474.0,1202.0,497.0,762.0,458.0,...,838.0,39.6,483.0,379.0,353.0,156.0,1371.0,526.0,820.0,38.4
24,Ludhiana,260.0,444.0,294.0,189.0,250.0,430.0,262.0,250.0,312.0,...,271.0,66.9,260.0,133.0,80.0,16.0,489.0,271.0,324.0,55.4
25,Madurai,123.0,685.0,125.0,656.0,121.0,839.0,127.0,835.0,140.0,...,643.0,14.6,208.0,15.0,768.0,46.0,1037.0,215.0,1021.0,20.7
26,Mallapuram,290.0,2694.0,324.0,3534.0,295.0,2711.0,325.0,3604.0,314.0,...,3305.0,13.1,332.0,1923.0,347.0,280.0,2882.0,367.0,3264.0,12.7
27,Mumbai,539.0,25471.0,563.0,5059.0,471.0,24592.0,488.0,4543.0,481.0,...,3938.0,2.4,586.0,2034.0,1213.0,19635.0,23468.0,611.0,4029.0,2.6
28,Meerut,321.0,886.0,384.0,679.0,431.0,964.0,447.0,833.0,304.0,...,916.0,37.0,372.0,545.0,45.0,0.0,962.0,396.0,721.0,41.2
29,Nagpur,227.0,1231.0,236.0,1144.0,273.0,1083.0,280.0,972.0,298.0,...,1091.0,24.5,254.0,497.0,460.0,43.0,1254.0,260.0,1233.0,20.7
30,Patna,507.0,1225.0,507.0,576.0,509.0,1185.0,509.0,556.0,514.0,...,682.0,41.3,244.0,270.0,59.0,92.0,665.0,261.0,390.0,39.2
31,Pune,62.0,261.0,64.0,213.0,388.0,1624.0,407.0,1392.0,388.0,...,1402.0,25.4,419.0,568.0,367.0,89.0,1443.0,438.0,1205.0,30.4
32,Rajkot,163.0,1039.0,172.0,1042.0,125.0,981.0,151.0,983.0,115.0,...,690.0,19.5,136.0,134.0,432.0,78.0,780.0,150.0,716.0,19.2
33,Surat,240.0,1223.0,248.0,841.0,225.0,1146.0,229.0,867.0,213.0,...,817.0,27.4,251.0,386.0,179.0,87.0,903.0,257.0,773.0,28.5
34,Srinagar,0.0,492.0,75.0,511.0,60.0,511.0,64.0,539.0,59.0,...,393.0,15.5,59.0,1.0,336.0,39.0,435.0,63.0,462.0,14.5
35,Thrissur,134.0,1262.0,141.0,1343.0,119.0,1288.0,127.0,1420.0,127.0,...,1417.0,8.1,103.0,870.0,319.0,114.0,1406.0,110.0,1538.0,7.8
36,Vadodra,164.0,1343.0,172.0,908.0,156.0,1196.0,171.0,1071.0,175.0,...,990.0,18.7,216.0,387.0,332.0,229.0,1164.0,229.0,984.0,19.7
37,Varanasi,73.0,142.0,73.0,69.0,216.0,379.0,216.0,160.0,217.0,...,190.0,56.2,200.0,171.0,51.0,2.0,424.0,203.0,225.0,47.9
38,Visakhapatnam,410.0,1548.0,414.0,1286.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39,Allahabad,0.0,0.0,0.0,0.0,396.0,933.0,408.0,573.0,443.0,...,758.0,43.7,455.0,389.0,159.0,16.0,1019.0,479.0,698.0,47.0
40,Amritsar,0.0,0.0,0.0,0.0,95.0,152.0,95.0,71.0,92.0,...,125.0,57.0,94.0,37.0,16.0,3.0,150.0,99.0,89.0,66.0
41,Chandigarh,0.0,0.0,0.0,0.0,130.0,419.0,136.0,347.0,114.0,...,335.0,35.5,124.0,7.0,236.0,49.0,416.0,129.0,331.0,31.0
42,Chennai,0.0,0.0,0.0,0.0,1367.0,9663.0,1401.0,8628.0,1215.0,...,9355.0,11.6,859.0,2949.0,3196.0,324.0,7328.0,886.0,7320.0,12.1
43,Kanpur,0.0,0.0,0.0,0.0,522.0,1257.0,564.0,958.0,472.0,...,941.0,48.0,625.0,185.0,686.0,0.0,1496.0,665.0,1077.0,44.5
44,Khozikode,0.0,0.0,0.0,0.0,166.0,1270.0,174.0,1451.0,172.0,...,1253.0,13.5,150.0,931.0,247.0,159.0,1487.0,159.0,1567.0,10.7
45,Nashik,0.0,0.0,0.0,0.0,145.0,1023.0,155.0,461.0,108.0,...,494.0,16.1,225.0,309.0,181.0,586.0,1301.0,234.0,679.0,18.0
46,Raipur,0.0,0.0,0.0,0.0,348.0,2222.0,362.0,1558.0,383.0,...,1452.0,21.1,406.0,106.0,1048.0,629.0,2189.0,448.0,1431.0,20.5
47,Thiruvanthapuram,0.0,0.0,0.0,0.0,164.0,1933.0,167.0,2244.0,191.0,...,2371.0,8.7,159.0,1626.0,316.0,98.0,2199.0,164.0,2660.0,7.5
48,Tiruchirapalli,0.0,0.0,0.0,0.0,139.0,778.0,142.0,864.0,121.0,...,766.0,25.3,156.0,7.0,597.0,68.0,828.0,161.0,873.0,19.4
49,Vijaywada City,0.0,0.0,0.0,0.0,365.0,1600.0,376.0,1446.0,320.0,...,1578.0,20.1,362.0,335.0,850.0,97.0,1644.0,379.0,1548.0,23.1
50,Vizaq,0.0,0.0,0.0,0.0,371.0,1439.0,384.0,1063.0,382.0,...,1356.0,21.9,343.0,771.0,186.0,337.0,1637.0,373.0,1313.0,22.8

In [15]:
df2.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,KIlled due to Over Speed,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Accidents due to Alcohal and drugs,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
27,Uttarakhand,1784,1656,1712,1577,575.0,473.0,456.0,466.0,231.0,...,437,9.0,4.0,0.0,1.0,240.0,9.0,508,6,40
28,Uttar Pradesh,20632,20113,15513,22155,2803.0,2880.0,1468.0,4629.0,2947.0,...,5471,4155.0,4404.0,2305.0,4706.0,4558.0,2049.0,1232,2403,4633
29,West Bengal,12186,15760,14962,13773,1670.0,1576.0,143.0,0.0,2397.0,...,535,1555.0,1894.0,8663.0,0.0,NaN,0.0,0,413,462
30,Andaman and Nicobar Islands,342,373,298,288,15.0,19.0,18.0,16.0,25.0,...,11,23.0,27.0,26.0,21.0,18.0,20.0,25,30,27
31,Chandigarh,321,415,370,347,20.0,88.0,17.0,NaN,24.0,...,142,4.0,0.0,0.0,NaN,17.0,1.0,11,8,9
32,Dadra and Nagar Haveli,71,134,210,122,65.0,45.0,15.0,63.0,17.0,...,4,0.0,0.0,73.0,0.0,58.0,0.0,1,6,0
33,Daman and Diu,69,43,37,39,5.0,14.0,12.0,8.0,8.0,...,12,1.0,0.0,1.0,1.0,7.0,1.0,0,7,7
34,Delhi,6936,7108,7226,6633,0.0,0.0,0.0,365.0,329.0,...,318,0.0,8.0,12.0,46.0,60.0,41.0,51,40,164
35,Lakshadweep,3,5,0,3,0.0,0.0,0.0,0.0,NaN,...,0,0.0,1.0,0.0,0.0,2.0,0.0,0,0,0
36,Puducherry,1732,1505,1689,1129,210.0,212.0,239.0,229.0,147.0,...,150,4.0,8.0,12.0,23.0,10.0,8.0,73,5,82

In [16]:
df2.fillna(0)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,KIlled due to Over Speed,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Accidents due to Alcohal and drugs,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,States/UTs,State/UT-Wise Total Number of Persons Injured ...,State/UT-Wise Total Number of Persons Injured ...,State/UT-Wise Total Number of Persons Injured ...,State/UT-Wise Total Number of Persons Injured ...,2008.0,2009.0,2010.0,2011.0,2012.0,...,2016,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014,2015,2016
1,Andhra Pradesh,52157,53928,55583,51552,7471.0,6407.0,5211.0,4560.0,6201.0,...,5564,1591.0,4469.0,2877.0,2205.0,1660.0,1315.0,594,490,128
2,Arunachal Pradesh,530,491,438,399,32.0,35.0,42.0,72.0,15.0,...,41,25.0,20.0,8.0,8.0,25.0,36.0,11,22,15
3,Assam,5522,7579,6505,6709,843.0,1244.0,1400.0,1233.0,1430.0,...,1094,530.0,279.0,361.0,760.0,347.0,807.0,613,611,352
4,Bihar,7113,8106,7083,7142,1008.0,1551.0,1452.0,1748.0,1266.0,...,1509,1944.0,1011.0,930.0,1590.0,1572.0,1532.0,1680,1457,593
5,Chhattisgarh,13274,13599,13929,13517,1347.0,1474.0,1382.0,1431.0,1186.0,...,1735,855.0,266.0,1241.0,304.0,277.0,310.0,335,227,145
6,Goa,2954,2709,2318,2086,271.0,211.0,214.0,240.0,226.0,...,306,42.0,15.0,29.0,30.0,23.0,13.0,9,6,3
7,Gujarat,32944,32449,29744,27650,4373.0,4611.0,4898.0,5385.0,4640.0,...,4611,540.0,1339.0,234.0,212.0,231.0,40.0,42,361,64
8,Haryana,10481,9905,9727,9452,2580.0,2080.0,2089.0,2090.0,2075.0,...,1113,427.0,381.0,365.0,368.0,316.0,1021.0,1095,1092,529
9,Himachal Pradesh,5579,5325,5462,5248,388.0,764.0,619.0,696.0,767.0,...,187,34.0,51.0,101.0,58.0,50.0,82.0,74,50,72
10,Jammu and Kashmir,8199,8726,10012,9755,603.0,709.0,570.0,699.0,573.0,...,432,378.0,62.0,133.0,92.0,212.0,388.0,388,375,47
11,Jharkhand,4406,4872,4811,4974,633.0,995.0,1189.0,924.0,1050.0,...,440,725.0,695.0,1005.0,1220.0,909.0,444.0,611,1518,543
12,Karnataka,61697,61774,59591,58659,5678.0,4501.0,6657.0,5205.0,4304.0,...,8037,513.0,967.0,299.0,541.0,577.0,495.0,2207,298,396
13,Kerala,41402,41473,41379,41915,2317.0,2307.0,2462.0,2606.0,2707.0,...,3300,67.0,63.0,65.0,67.0,168.0,28.0,35,49,133
14,Madhya Pradesh,54611,56897,55545,55994,4034.0,4284.0,4471.0,4300.0,3494.0,...,5188,1899.0,4480.0,4082.0,4028.0,5374.0,4301.0,3540,2665,3083
15,Maharashtra,47878,46985,45628,43847,8704.0,4404.0,7301.0,8549.0,8607.0,...,7787,2169.0,1868.0,2407.0,2452.0,2350.0,2187.0,1251,1345,226
16,Manipur,1189,1132,1118,1391,22.0,42.0,20.0,22.0,0.0,...,12,105.0,138.0,33.0,140.0,0.0,0.0,0,0,71
17,Meghalaya,713,461,591,322,69.0,26.0,84.0,67.0,20.0,...,35,9.0,39.0,33.0,93.0,56.0,29.0,25,137,35
18,Mizoram,203,252,215,172,35.0,15.0,29.0,10.0,37.0,...,16,18.0,15.0,27.0,17.0,46.0,13.0,16,15,27
19,Nagaland,151,121,107,49,25.0,0.0,0.0,0.0,0.0,...,6,9.0,0.0,2.0,4.0,5.0,10.0,91,2,13
20,Odisha,11296,11399,11248,10715,1330.0,406.0,1463.0,1408.0,1439.0,...,2098,819.0,813.0,858.0,1141.0,846.0,739.0,637,972,1255
21,Punjab,4486,4071,4081,3997,1478.0,1219.0,1336.0,1674.0,1739.0,...,1923,130.0,488.0,539.0,226.0,82.0,147.0,442,118,317
22,Rajasthan,32317,31033,28666,28135,4736.0,4681.0,4451.0,4650.0,4621.0,...,6242,1132.0,1139.0,1804.0,1159.0,779.0,1451.0,915,667,673
23,Sikkim,434,399,321,336,28.0,15.0,9.0,7.0,7.0,...,26,52.0,0.0,36.0,27.0,1.0,5.0,8,30,12
24,Tamil Nadu,70504,75445,74245,78348,5703.0,5695.0,6323.0,6412.0,8043.0,...,11444,363.0,2208.0,2439.0,3096.0,3096.0,2764.0,1416,818,531
25,Telangana,0,0,0,0,0.0,0.0,0.0,0.0,0.0,...,3541,0.0,0.0,0.0,0.0,0.0,0.0,968,42,202
26,Tripura,1342,1269,1030,1237,175.0,209.0,163.0,168.0,148.0,...,129,23.0,0.0,0.0,19.0,7.0,4.0,12,13,5
27,Uttarakhand,1784,1656,1712,1577,575.0,473.0,456.0,466.0,231.0,...,437,9.0,4.0,0.0,1.0,240.0,9.0,508,6,40
28,Uttar Pradesh,20632,20113,15513,22155,2803.0,2880.0,1468.0,4629.0,2947.0,...,5471,4155.0,4404.0,2305.0,4706.0,4558.0,2049.0,1232,2403,4633
29,West Bengal,12186,15760,14962,13773,1670.0,1576.0,143.0,0.0,2397.0,...,535,1555.0,1894.0,8663.0,0.0,0.0,0.0,0,413,462
30,Andaman and Nicobar Islands,342,373,298,288,15.0,19.0,18.0,16.0,25.0,...,11,23.0,27.0,26.0,21.0,18.0,20.0,25,30,27
31,Chandigarh,321,415,370,347,20.0,88.0,17.0,0.0,24.0,...,142,4.0,0.0,0.0,0.0,17.0,1.0,11,8,9
32,Dadra and Nagar Haveli,71,134,210,122,65.0,45.0,15.0,63.0,17.0,...,4,0.0,0.0,73.0,0.0,58.0,0.0,1,6,0
33,Daman and Diu,69,43,37,39,5.0,14.0,12.0,8.0,8.0,...,12,1.0,0.0,1.0,1.0,7.0,1.0,0,7,7
34,Delhi,6936,7108,7226,6633,0.0,0.0,0.0,365.0,329.0,...,318,0.0,8.0,12.0,46.0,60.0,41.0,51,40,164
35,Lakshadweep,3,5,0,3,0.0,0.0,0.0,0.0,0.0,...,0,0.0,1.0,0.0,0.0,2.0,0.0,0,0,0
36,Puducherry,1732,1505,1689,1129,210.0,212.0,239.0,229.0,147.0,...,150,4.0,8.0,12.0,23.0,10.0,8.0,73,5,82

In [17]:
df1.head()

,Name of City,Total number of Fatal Accidents - 2011,All Accidents - 2011,Persons Killed - 2011,Persons Injured - 2011,Total number of Fatal Accidents - 2012,All Accidents - 2012,Persons Killed - 2012,Persons Injured - 2012,Fatal Accidents - 2013,...,Injured - 2014,Severity - 2014,Fatal Accidents - 2015,Greviously Injured Accidents - 2015,Minor Accidents - 2015,Non-Injurey Accidents - 2015,Total Accidents - 2015,Killed - 2015,Injured - 2015,Severity - 2015
0,Agra,336.0,1299.0,632.0,1046.0,381.0,922.0,427.0,675.0,436.0,...,747.0,50.6,498.0,369.0,260.0,16.0,1143.0,474.0,650.0,41.5
1,Ahmedabad,222.0,2020.0,227.0,2036.0,245.0,1850.0,251.0,1845.0,227.0,...,1597.0,16.0,318.0,351.0,1168.0,0.0,1837.0,328.0,1722.0,17.9
2,Asansol-Durgapur,229.0,368.0,230.0,185.0,199.0,380.0,224.0,315.0,200.0,...,284.0,47.4,210.0,160.0,60.0,16.0,446.0,210.0,220.0,47.1
3,Aurangabad,161.0,719.0,173.0,744.0,178.0,715.0,192.0,649.0,150.0,...,578.0,30.4,153.0,297.0,147.0,57.0,654.0,170.0,670.0,26.0
4,Bengaluru,689.0,6031.0,720.0,4952.0,707.0,5508.0,725.0,4527.0,733.0,...,4098.0,14.6,708.0,1331.0,1899.0,896.0,4834.0,713.0,4057.0,14.7

In [21]:
a=df1[["Name of City"]]
b=df1[["Persons Injured - 2011"]]
df1.sortvalues("b",ascending=False)
df1.head()

In [42]:
max4=df1["Greviously Injured Accidents - 2014"].max()+df1["Injured - 2014"].max()
max6=df1["Greviously Injured Accidents - 2015"].max()+df1["Injured - 2015"].max()

In [44]:
max1=df1["Persons Injured - 2011"].max()
max2=df1["Persons Injured - 2012"].max()
max3=df1["Injured - 2013"].max()
sum=max1+max2+max3+max4+max6

sum

47864.0

In [35]:
sum=df1["Persons Injured - 2011"].max()+df1["Persons Injured - 2012"]+df1["Injured - 2013"]+df1["Greviously Injured Accidents - 2014"]
+df1["Injured - 2014"]+df1["Greviously Injured Accidents - 2015"]+df1["Injured - 2015"]
sum.max()

21309.0

In [34]:
a=df1[["Name of City"]]
a

        Name of City
0               Agra
1          Ahmedabad
2   Asansol-Durgapur
3         Aurangabad
4          Bengaluru
5             Bhopal
6         Coimbatore
7              Delhi
8            Dhanbad
9          Faridabad
10         Ghaziabad
11           Gwalior
12         Hyderabad
13            Indore
14            Jaipur
15          Jabalpur
16        Jamshedpur
17           Jodhpur
18             Kochi
19           Kolkata
20            Kollam
21              Kota
22            Kannur
23           Lucknow
24          Ludhiana
25           Madurai
26        Mallapuram
27            Mumbai
28            Meerut
29            Nagpur
30             Patna
31              Pune
32            Rajkot
33             Surat
34          Srinagar
35          Thrissur
36           Vadodra
37          Varanasi
38     Visakhapatnam
39         Allahabad
40          Amritsar
41        Chandigarh
42           Chennai
43            Kanpur
44         Khozikode
45            Nashik
46            Raipur
47  Thiruvanthapuram
48    Tiruchirapalli
49    Vijaywada City
50             Vizaq

In [36]:
print(sum.max())
a=np.where(sum==sum.max())
new=df.iloc[a]
new["Name of City"]

21309.0

7    Delhi
Name: Name of City, dtype: object

In [46]:
print(sum.max())
a=np.where(sum==sum.max())
new=df.iloc[a]
new["Name of City"]

47864.0

0    Agra
Name: Name of City, dtype: object

In [53]:
acc=df[["Name of City" ,"All Accidents - 2011", "All Accidents - 2012","Total Accidents - 2013","Total Accidents - 2014","Total Accidents - 2015"]]

In [54]:
acc

,Name of City,All Accidents - 2011,All Accidents - 2012,Total Accidents - 2013,Total Accidents - 2014,Total Accidents - 2015
0,Agra,1299.0,922.0,1008.0,995.0,1143.0
1,Ahmedabad,2020.0,1850.0,1888.0,1642.0,1837.0
2,Asansol-Durgapur,368.0,380.0,433.0,443.0,446.0
3,Aurangabad,719.0,715.0,565.0,560.0,654.0
4,Bengaluru,6031.0,5508.0,5215.0,5004.0,4834.0
5,Bhopal,3459.0,3623.0,3294.0,3459.0,3621.0
6,Coimbatore,1126.0,1128.0,1300.0,1594.0,1513.0
7,Delhi,7281.0,6937.0,7566.0,8623.0,8085.0
8,Dhanbad,138.0,144.0,484.0,106.0,114.0
9,Faridabad,803.0,711.0,713.0,719.0,669.0
10,Ghaziabad,1109.0,850.0,874.0,897.0,826.0
11,Gwalior,2030.0,1974.0,1934.0,1959.0,2140.0
12,Hyderabad,2651.0,2577.0,2591.0,2908.0,2761.0
13,Indore,4995.0,5433.0,5516.0,5784.0,5873.0
14,Jaipur,2002.0,1792.0,1794.0,1920.0,1894.0
15,Jabalpur,2906.0,2919.0,2939.0,3124.0,3374.0
16,Jamshedpur,447.0,424.0,382.0,238.0,347.0
17,Jodhpur,526.0,533.0,522.0,553.0,678.0
18,Kochi,1986.0,2280.0,2248.0,2257.0,2561.0
19,Kolkata,3133.0,3937.0,4437.0,4561.0,4347.0
20,Kollam,1668.0,1763.0,1577.0,1703.0,1561.0
21,Kota,616.0,601.0,706.0,768.0,745.0
22,Kannur,557.0,618.0,593.0,570.0,624.0
23,Lucknow,1270.0,1202.0,1254.0,1356.0,1371.0
24,Ludhiana,444.0,430.0,519.0,475.0,489.0
25,Madurai,685.0,839.0,695.0,691.0,1037.0
26,Mallapuram,2694.0,2711.0,2653.0,2719.0,2882.0
27,Mumbai,25471.0,24592.0,23512.0,22570.0,23468.0
28,Meerut,886.0,964.0,842.0,1047.0,962.0
29,Nagpur,1231.0,1083.0,1265.0,1149.0,1254.0
30,Patna,1225.0,1185.0,1214.0,1193.0,665.0
31,Pune,261.0,1624.0,1687.0,1572.0,1443.0
32,Rajkot,1039.0,981.0,796.0,770.0,780.0
33,Surat,1223.0,1146.0,971.0,974.0,903.0
34,Srinagar,492.0,511.0,473.0,374.0,435.0
35,Thrissur,1262.0,1288.0,1297.0,1317.0,1406.0
36,Vadodra,1343.0,1196.0,1170.0,1161.0,1164.0
37,Varanasi,142.0,379.0,416.0,411.0,424.0
38,Visakhapatnam,1548.0,NaN,NaN,NaN,NaN
39,Allahabad,NaN,933.0,1125.0,1101.0,1019.0
40,Amritsar,NaN,152.0,135.0,165.0,150.0
41,Chandigarh,NaN,419.0,410.0,369.0,416.0
42,Chennai,NaN,9663.0,9705.0,9610.0,7328.0
43,Kanpur,NaN,1257.0,1269.0,1251.0,1496.0
44,Khozikode,NaN,1270.0,1151.0,1177.0,1487.0
45,Nashik,NaN,1023.0,1127.0,1070.0,1301.0
46,Raipur,NaN,2222.0,2242.0,2097.0,2189.0
47,Thiruvanthapuram,NaN,1933.0,2000.0,2007.0,2199.0
48,Tiruchirapalli,NaN,778.0,641.0,711.0,828.0
49,Vijaywada City,NaN,1600.0,1496.0,1669.0,1644.0
50,Vizaq,NaN,1439.0,1548.0,1565.0,1637.0

In [61]:
acc["rank"]=acc["Name of City"].rank()

F:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [62]:
acc.sort_values("Name of City", inplace = True)

F:\anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
acc

,Name of City,All Accidents - 2011,All Accidents - 2012,Total Accidents - 2013,Total Accidents - 2014,Total Accidents - 2015,rank
0,Agra,1299.0,922.0,1008.0,995.0,1143.0,1.0
1,Ahmedabad,2020.0,1850.0,1888.0,1642.0,1837.0,2.0
39,Allahabad,NaN,933.0,1125.0,1101.0,1019.0,3.0
40,Amritsar,NaN,152.0,135.0,165.0,150.0,4.0
2,Asansol-Durgapur,368.0,380.0,433.0,443.0,446.0,5.0
3,Aurangabad,719.0,715.0,565.0,560.0,654.0,6.0
4,Bengaluru,6031.0,5508.0,5215.0,5004.0,4834.0,7.0
5,Bhopal,3459.0,3623.0,3294.0,3459.0,3621.0,8.0
41,Chandigarh,NaN,419.0,410.0,369.0,416.0,9.0
42,Chennai,NaN,9663.0,9705.0,9610.0,7328.0,10.0
6,Coimbatore,1126.0,1128.0,1300.0,1594.0,1513.0,11.0
7,Delhi,7281.0,6937.0,7566.0,8623.0,8085.0,12.0
8,Dhanbad,138.0,144.0,484.0,106.0,114.0,13.0
9,Faridabad,803.0,711.0,713.0,719.0,669.0,14.0
10,Ghaziabad,1109.0,850.0,874.0,897.0,826.0,15.0
11,Gwalior,2030.0,1974.0,1934.0,1959.0,2140.0,16.0
12,Hyderabad,2651.0,2577.0,2591.0,2908.0,2761.0,17.0
13,Indore,4995.0,5433.0,5516.0,5784.0,5873.0,18.0
15,Jabalpur,2906.0,2919.0,2939.0,3124.0,3374.0,19.0
14,Jaipur,2002.0,1792.0,1794.0,1920.0,1894.0,20.0
16,Jamshedpur,447.0,424.0,382.0,238.0,347.0,21.0
17,Jodhpur,526.0,533.0,522.0,553.0,678.0,22.0
22,Kannur,557.0,618.0,593.0,570.0,624.0,23.0
43,Kanpur,NaN,1257.0,1269.0,1251.0,1496.0,24.0
44,Khozikode,NaN,1270.0,1151.0,1177.0,1487.0,25.0
18,Kochi,1986.0,2280.0,2248.0,2257.0,2561.0,26.0
19,Kolkata,3133.0,3937.0,4437.0,4561.0,4347.0,27.0
20,Kollam,1668.0,1763.0,1577.0,1703.0,1561.0,28.0
21,Kota,616.0,601.0,706.0,768.0,745.0,29.0
23,Lucknow,1270.0,1202.0,1254.0,1356.0,1371.0,30.0
24,Ludhiana,444.0,430.0,519.0,475.0,489.0,31.0
25,Madurai,685.0,839.0,695.0,691.0,1037.0,32.0
26,Mallapuram,2694.0,2711.0,2653.0,2719.0,2882.0,33.0
28,Meerut,886.0,964.0,842.0,1047.0,962.0,34.0
27,Mumbai,25471.0,24592.0,23512.0,22570.0,23468.0,35.0
29,Nagpur,1231.0,1083.0,1265.0,1149.0,1254.0,36.0
45,Nashik,NaN,1023.0,1127.0,1070.0,1301.0,37.0
30,Patna,1225.0,1185.0,1214.0,1193.0,665.0,38.0
31,Pune,261.0,1624.0,1687.0,1572.0,1443.0,39.0
46,Raipur,NaN,2222.0,2242.0,2097.0,2189.0,40.0
32,Rajkot,1039.0,981.0,796.0,770.0,780.0,41.0
34,Srinagar,492.0,511.0,473.0,374.0,435.0,42.0
33,Surat,1223.0,1146.0,971.0,974.0,903.0,43.0
47,Thiruvanthapuram,NaN,1933.0,2000.0,2007.0,2199.0,44.0
35,Thrissur,1262.0,1288.0,1297.0,1317.0,1406.0,45.0
48,Tiruchirapalli,NaN,778.0,641.0,711.0,828.0,46.0
36,Vadodra,1343.0,1196.0,1170.0,1161.0,1164.0,47.0
37,Varanasi,142.0,379.0,416.0,411.0,424.0,48.0
49,Vijaywada City,NaN,1600.0,1496.0,1669.0,1644.0,49.0
38,Visakhapatnam,1548.0,NaN,NaN,NaN,NaN,50.0
50,Vizaq,NaN,1439.0,1548.0,1565.0,1637.0,51.0

In [66]:
acc = acc.sort_values(by ='Name of City' , ascending=False)
acc

,Name of City,All Accidents - 2011,All Accidents - 2012,Total Accidents - 2013,Total Accidents - 2014,Total Accidents - 2015,rank
50,Vizaq,NaN,1439.0,1548.0,1565.0,1637.0,51.0
38,Visakhapatnam,1548.0,NaN,NaN,NaN,NaN,50.0
49,Vijaywada City,NaN,1600.0,1496.0,1669.0,1644.0,49.0
37,Varanasi,142.0,379.0,416.0,411.0,424.0,48.0
36,Vadodra,1343.0,1196.0,1170.0,1161.0,1164.0,47.0
48,Tiruchirapalli,NaN,778.0,641.0,711.0,828.0,46.0
35,Thrissur,1262.0,1288.0,1297.0,1317.0,1406.0,45.0
47,Thiruvanthapuram,NaN,1933.0,2000.0,2007.0,2199.0,44.0
33,Surat,1223.0,1146.0,971.0,974.0,903.0,43.0
34,Srinagar,492.0,511.0,473.0,374.0,435.0,42.0
32,Rajkot,1039.0,981.0,796.0,770.0,780.0,41.0
46,Raipur,NaN,2222.0,2242.0,2097.0,2189.0,40.0
31,Pune,261.0,1624.0,1687.0,1572.0,1443.0,39.0
30,Patna,1225.0,1185.0,1214.0,1193.0,665.0,38.0
45,Nashik,NaN,1023.0,1127.0,1070.0,1301.0,37.0
29,Nagpur,1231.0,1083.0,1265.0,1149.0,1254.0,36.0
27,Mumbai,25471.0,24592.0,23512.0,22570.0,23468.0,35.0
28,Meerut,886.0,964.0,842.0,1047.0,962.0,34.0
26,Mallapuram,2694.0,2711.0,2653.0,2719.0,2882.0,33.0
25,Madurai,685.0,839.0,695.0,691.0,1037.0,32.0
24,Ludhiana,444.0,430.0,519.0,475.0,489.0,31.0
23,Lucknow,1270.0,1202.0,1254.0,1356.0,1371.0,30.0
21,Kota,616.0,601.0,706.0,768.0,745.0,29.0
20,Kollam,1668.0,1763.0,1577.0,1703.0,1561.0,28.0
19,Kolkata,3133.0,3937.0,4437.0,4561.0,4347.0,27.0
18,Kochi,1986.0,2280.0,2248.0,2257.0,2561.0,26.0
44,Khozikode,NaN,1270.0,1151.0,1177.0,1487.0,25.0
43,Kanpur,NaN,1257.0,1269.0,1251.0,1496.0,24.0
22,Kannur,557.0,618.0,593.0,570.0,624.0,23.0
17,Jodhpur,526.0,533.0,522.0,553.0,678.0,22.0
16,Jamshedpur,447.0,424.0,382.0,238.0,347.0,21.0
14,Jaipur,2002.0,1792.0,1794.0,1920.0,1894.0,20.0
15,Jabalpur,2906.0,2919.0,2939.0,3124.0,3374.0,19.0
13,Indore,4995.0,5433.0,5516.0,5784.0,5873.0,18.0
12,Hyderabad,2651.0,2577.0,2591.0,2908.0,2761.0,17.0
11,Gwalior,2030.0,1974.0,1934.0,1959.0,2140.0,16.0
10,Ghaziabad,1109.0,850.0,874.0,897.0,826.0,15.0
9,Faridabad,803.0,711.0,713.0,719.0,669.0,14.0
8,Dhanbad,138.0,144.0,484.0,106.0,114.0,13.0
7,Delhi,7281.0,6937.0,7566.0,8623.0,8085.0,12.0
6,Coimbatore,1126.0,1128.0,1300.0,1594.0,1513.0,11.0
42,Chennai,NaN,9663.0,9705.0,9610.0,7328.0,10.0
41,Chandigarh,NaN,419.0,410.0,369.0,416.0,9.0
5,Bhopal,3459.0,3623.0,3294.0,3459.0,3621.0,8.0
4,Bengaluru,6031.0,5508.0,5215.0,5004.0,4834.0,7.0
3,Aurangabad,719.0,715.0,565.0,560.0,654.0,6.0
2,Asansol-Durgapur,368.0,380.0,433.0,443.0,446.0,5.0
40,Amritsar,NaN,152.0,135.0,165.0,150.0,4.0
39,Allahabad,NaN,933.0,1125.0,1101.0,1019.0,3.0
1,Ahmedabad,2020.0,1850.0,1888.0,1642.0,1837.0,2.0
0,Agra,1299.0,922.0,1008.0,995.0,1143.0,1.0

In [87]:
df=df2["KIlled due to Over Speed"]
df

0     2008.0
1     7471.0
2       32.0
3      843.0
4     1008.0
5     1347.0
6      271.0
7     4373.0
8     2580.0
9      388.0
10     603.0
11     633.0
12    5678.0
13    2317.0
14    4034.0
15    8704.0
16      22.0
17      69.0
18      35.0
19      25.0
20    1330.0
21    1478.0
22    4736.0
23      28.0
24    5703.0
25       NaN
26     175.0
27     575.0
28    2803.0
29    1670.0
30      15.0
31      20.0
32      65.0
33       5.0
34       0.0
35       0.0
36     210.0
Name: KIlled due to Over Speed, dtype: float64

In [96]:
df1[["Name of City","Persons Killed - 2011","Persons Killed - 2012","Killed - 2013","Killed - 2014","Killed - 2015"]]

,Name of City,Persons Killed - 2011,Persons Killed - 2012,Killed - 2013,Killed - 2014,Killed - 2015
0,Agra,632.0,427.0,502.0,503.0,474.0
1,Ahmedabad,227.0,251.0,230.0,262.0,328.0
2,Asansol-Durgapur,230.0,224.0,218.0,210.0,210.0
3,Aurangabad,173.0,192.0,160.0,170.0,170.0
4,Bengaluru,720.0,725.0,752.0,729.0,713.0
5,Bhopal,299.0,301.0,257.0,236.0,235.0
6,Coimbatore,259.0,270.0,248.0,282.0,245.0
7,Delhi,2065.0,1866.0,1820.0,1671.0,1622.0
8,Dhanbad,82.0,54.0,248.0,63.0,48.0
9,Faridabad,249.0,247.0,215.0,259.0,206.0
10,Ghaziabad,535.0,378.0,406.0,387.0,331.0
11,Gwalior,248.0,232.0,247.0,220.0,265.0
12,Hyderabad,441.0,464.0,493.0,411.0,425.0
13,Indore,425.0,447.0,422.0,439.0,444.0
14,Jaipur,406.0,391.0,399.0,432.0,476.0
15,Jabalpur,260.0,275.0,327.0,317.0,365.0
16,Jamshedpur,207.0,189.0,153.0,92.0,157.0
17,Jodhpur,264.0,313.0,298.0,257.0,297.0
18,Kochi,182.0,144.0,151.0,136.0,168.0
19,Kolkata,418.0,498.0,437.0,450.0,422.0
20,Kollam,222.0,213.0,265.0,217.0,204.0
21,Kota,113.0,112.0,109.0,125.0,108.0
22,Kannur,55.0,78.0,58.0,77.0,67.0
23,Lucknow,517.0,497.0,473.0,537.0,526.0
24,Ludhiana,294.0,262.0,324.0,318.0,271.0
25,Madurai,125.0,127.0,145.0,101.0,215.0
26,Mallapuram,324.0,325.0,354.0,357.0,367.0
27,Mumbai,563.0,488.0,502.0,534.0,611.0
28,Meerut,384.0,447.0,352.0,387.0,396.0
29,Nagpur,236.0,280.0,310.0,281.0,260.0
30,Patna,507.0,509.0,514.0,493.0,261.0
31,Pune,64.0,407.0,399.0,399.0,438.0
32,Rajkot,172.0,151.0,119.0,150.0,150.0
33,Surat,248.0,229.0,227.0,267.0,257.0
34,Srinagar,75.0,64.0,58.0,58.0,63.0
35,Thrissur,141.0,127.0,133.0,107.0,110.0
36,Vadodra,172.0,171.0,183.0,217.0,229.0
37,Varanasi,73.0,216.0,217.0,231.0,203.0
38,Visakhapatnam,414.0,NaN,NaN,NaN,NaN
39,Allahabad,NaN,408.0,482.0,481.0,479.0
40,Amritsar,NaN,95.0,98.0,94.0,99.0
41,Chandigarh,NaN,136.0,117.0,131.0,129.0
42,Chennai,NaN,1401.0,1247.0,1118.0,886.0
43,Kanpur,NaN,564.0,554.0,600.0,665.0
44,Khozikode,NaN,174.0,182.0,159.0,159.0
45,Nashik,NaN,155.0,134.0,172.0,234.0
46,Raipur,NaN,362.0,394.0,442.0,448.0
47,Thiruvanthapuram,NaN,167.0,195.0,175.0,164.0
48,Tiruchirapalli,NaN,142.0,129.0,180.0,161.0
49,Vijaywada City,NaN,376.0,339.0,335.0,379.0
50,Vizaq,NaN,384.0,411.0,342.0,373.0

df1

In [118]:
x1=df1[["Name of City","Persons Killed - 2011"]].max()

In [119]:
x2=df1[["Name of City","Persons Killed - 2012"]].max()
x2

Name of City             Vizaq
Persons Killed - 2012     1866
dtype: object

In [120]:
x3=df1[["Name of City", "Killed - 2013"]].max()
x3

Name of City     Vizaq
Killed - 2013     1820
dtype: object

In [121]:
x4=df1[["Name of City", "Killed - 2014"]].max()
x4

Name of City     Vizaq
Killed - 2014     1671
dtype: object

In [122]:
x5=df1[["Name of City", "Killed - 2015"]].max()
x5

Name of City     Vizaq
Killed - 2015     1622
dtype: object

In [126]:
a=df1[["Name of City","Persons Killed - 2011","Persons Killed - 2012","Killed - 2013","Killed - 2014","Killed - 2015"]]

In [133]:
df=pd.read_csv("Accident_Cities.csv",index_col="Name of City")
first=df.loc["Delhi"]

In [ ]:
df["injured"]=df[""]

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

objects = ['Delhi', 'Bengaluru', 'Mumbai', 'Kolkata', 'Lucknow']
x_pos = np.arange(len(objects))
performance = ['']

plt.bar(x_pos, performance)
plt.xticks(x_pos, objects)
plt.xlabel('States')
plt.ylabel('Usage')
plt.title('Accident')

plt.show()